:root {
    --backgroundLight: #e0e0e0;
    --dark:#1d1d1d;
    --primary: #137c32;
    --secundary: rgb(0, 0, 0);
    --secundaryLight: #f8f8f8AA;
	--secundaryTrans: rgba(29, 29, 29, 0.5);
    --radio-borde: 0.5rem;
}

.img {
    width: 250px;
    height: 250px;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    background-image: url('assets/fondo.jpeg');
    /* background: rgb(50, 38, 255);
    background: linear-gradient(180deg, rgba(50, 38, 255, 1) 0%, rgba(86, 86, 255, 1) 35%, rgba(185, 243, 255, 1) 100%); */
}


.enlaces {
    background-color: rgb(34, 34, 34); /* Color de fondo */
    padding: 15px;
    text-align: center;
    border-bottom: #ffffff 1px solid;
}

.enlaces a {
    color: white; /* Color del texto */
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
    padding: 0.5rem;
    border-radius: 5px;
    display: inline-block;
    transition: background-color 0.3s, color 0.3s;
}

.enlaces a:hover {
    background-color: rgba(255, 255, 255, 0.2); /* Fondo translúcido al pasar el mouse */
}

.enlaces a:active, 
.enlaces a:focus {
    color: yellow; /* Cambia el color del texto al estar activo o enfocado */
}

.enlaces a:active {
    background-color: rgba(255, 255, 255, 0.3); /* Fondo translúcido al estar activo */
}

header h1,
h2 {
    text-align: center;
    color:#FFD700
}

.descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descripcion div{
    background-color: #f8f8f8AA;
    padding: 1rem;
    border-radius: 1rem;
    font-weight: bold;
}

.buscador {
    width: 100%;
    max-width: 1000px;
    /* Ancho máximo del buscador */
    margin: 20px auto;
    /* Centrar el buscador */
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* Sombra suave */
    border-radius: 8px;
    /* Bordes redondeados */
    background-color: #f8f8f8;
    /* Fondo claro */
    display: flex;
}

.buscador input[type="text"] {
    width: 100%;
    /* Hacer que el input ocupe todo el ancho del contenedor */
    padding: 10px;
    border: 2px solid #ccc;
    /* Borde gris claro */
    border-radius: 4px;
    /* Bordes ligeramente redondeados */
    font-size: 16px;
    /* Tamaño de fuente legible */
    box-sizing: border-box;
    /* Asegura que el padding no afecte el ancho total */
    outline: none;
    /* Elimina el borde azul al hacer click */
    transition: border-color 0.3s;
    /* Transición suave para el cambio de borde */
}

.buscador input[type="text"]:focus {
    border-color: #007BFF;
    /* Cambio de color de borde al hacer focus */
    box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
    /* Sombra azul al enfocar */
}

.buscador img {
    width: 50px;
    height: 50px;
}

.buscador button {
    padding: 10px 20px;
    border: none; /* Sin borde */
    border-radius: 0 4px 4px 0; /* Bordes redondeados solo en la derecha */
    background-color: rgb(34, 34, 34); /* Fondo negro */
    color: white; /* Texto blanco */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    transition: background-color 0.3s; /* Transición suave para el cambio de fondo */
}

.buscador button:hover {
    background-color: #0056b3; /* Fondo más oscuro al pasar sobre el botón */
}

.cardAleatorio {
    max-width: 1000px;
    margin:auto;
    text-align: center;
    background-color: #f8f8f8AA;
    padding: 1rem;
    border-radius: 1rem;
}

.puntuacion{
    display: flex;
    justify-content: center;
}

.puntuacion p{
    background-color: #f8f8f8AA;
    font-size: 1.5rem;
    padding: 1rem;
    margin-right: 0.5rem;
    border-radius: 1rem;
}

.desc{
    font-size: 1.2rem;
    font-weight: bold;
}

.estrella {
    position: absolute;
    width: 40px;
    height: 40px;
    background-color: #FFD700;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%,
            50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    transition: all 0.3s ease;
    opacity: 0.9;
    z-index: -1;
}

h1 {
    color: #FFD700
}

.container {
	width: 95%;
	max-width: 1200px;
    margin: auto;
}

.principal {
	display: flex;
	flex-wrap: wrap;
	padding: 0.3rem;
    margin-bottom: 2rem;
}

.principal .pokemon-card {
	box-shadow: 3px 3px 7px -2px var(--secundary);
	border-radius: 0.5rem;
	margin-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.pokemon-card{
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secundaryLight);
    margin:1rem
}

.sprite{
    width: 200px;
    height: 200px;
}

h3{
    margin: 0
}

.pokemon-card a{
    text-decoration: none;
    color:var(--dark)
}

/* Loader */
#loading {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--secundaryTrans);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.loader {
    border: 5px solid var(--backgroundLight);
    border-top: 5px solid var(--secundary);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Fin loader */


/* Botón paginación */
#pagination-controls{
    display: flex;
    justify-content: space-around;
    background-color: var(--secundaryTrans);
    padding-top: 1rem;
    position: sticky;
    bottom: 0;
    z-index: 1000;
    width: 100%;
}

.botonPag{
    background-color: #FFD700;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    border: none;
    margin-bottom: 3rem;
}

.botonPag:hover{
    background-color: #a88f00;
    transition: background-color 0.3s, color 0.3s;
}
/* Fin botón paginación */

/* Carrusel */

.carousel-container {
    max-width: 800px;
    width: 100%;
    margin: 20px auto;
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 10px;
    overflow: hidden;
}
.carousel-item {
    display: none;
    background-color: var(--secundaryTrans);
}
.carousel-item.active {
    display: flex;
    flex-direction: column;
}
.carousel-item img {
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.carousel-text {
    padding: 20px;
    text-align: center;
    color:white
}
.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s;
}
.carousel-button:hover {
    background-color: rgba(0,0,0,0.8);
}
.carousel-button.prev {
    left: 10px;
}
.carousel-button.next {
    right: 10px;
}
.pause-play-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.pause-play-button:hover {
    background-color: rgba(0,0,0,0.8);
}
/* final carrusel */

/* iniciales */
.starter-container{
    max-width: 1200px;
    background-color: var(--secundaryLight);
    margin: auto;
    padding: 1rem;
    border-radius: 1rem;
}

.starter-container h3{
    color: #FFD700;
}

.titulo{
    text-align: center;
}

.starter-container img{
    width: 250px;
}

.videojuegos{
    display: flex;
    align-items: center;
}

.negrita{
    font-weight: bold;
}
/* fin de iniciales */


/* Estilos Responsivos */
@media (max-width: 768px) {
    .enlaces a {
        display: block;
        margin: 10px 0; /* Margen vertical en lugar de horizontal */
        font-size: 16px; /* Ajuste del tamaño del texto */
        padding: 10px; /* Padding más pequeño */
        border-bottom: #ffffff solid 1px;
    }

    .buscador{
        width: 75%;
    }

    .descripcion{
        width: 75%;
        margin: auto;
    }

    .cardAleatorio{
        width: 85%;
    }

    .desc{
        padding: 1rem;
    }

    .principal{
        display: flex;
        flex-direction: column;
    }

    .carousel-container {
        margin: 10px auto;
        border-radius: 0;
    }
    .carousel-text {
        padding: 15px;
    }
    .carousel-text h2 {
        font-size: 1.2em;
        margin-bottom: 5px;
    }
    .carousel-text p {
        font-size: 0.9em;
    }
    .carousel-button {
        padding: 10px;
        font-size: 16px;
    }
    .pause-play-button {
        padding: 8px;
        font-size: 14px;
    }

    .starter-container{
        margin: 1rem;
        flex-direction: column;
    }
}

@media (max-width: 480px) {
    .carousel-button {
        padding: 8px;
        font-size: 14px;
    }
    .pause-play-button {
        padding: 6px;
        font-size: 12px;
    }
}
